@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  cursor: crosshair;
  scroll-snap-type: y mandatory !important;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #111111;
  border-radius: 5px;
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(228, 228, 228);
}
